<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="frontend/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <h1>Login</h1>
    <div>
      <form method="post">
        <div>
          <label for="username_input">Username</label>
          <div>
            <input type="text" name="username" id="username_input">
          </div>
        </div>
        <div>
          <p>
            <input type="submit" value="Login">
          </p>
        </div>
      </form>
    </div>
  </body>
</html>